Source: gnosisvpn
Section: net
Priority: optional
Maintainer: Hoprnet <tech@hoprnet.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://gnosisvpn.com/
Vcs-Browser: https://github.com/gnosis/gnosis_vpn
Vcs-Git: https://github.com/gnosis/gnosis_vpn.git
Rules-Requires-Root: no

Package: gnosisvpn
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends},
 systemd,
 curl,
 iptables,
 logrotate,
 jq,
 wireguard,
 ca-certificates,
 libwebkit2gtk-4.1-0,
 libgtk-3-0,
 libayatana-appindicator3-1
Description: Decentralized VPN for the web3 age
 GnosisVPN is a decentralized, trustless, uncensorable VPN for the web3 age.
 Fully anonymous browsing over a decentralized mixnet.
 .
 This package provides the GnosisVPN client, control utilities, and
 graphical application for managing VPN connections.
