#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Copy copyright from resources (source of truth)
	cp resources/copyright debian/copyright
	# Copy maintainer scripts from scripts/ directory
	cp scripts/preinstall.sh debian/preinst
	cp scripts/postinstall.sh debian/postinst
	cp scripts/preuninstall.sh debian/prerm
	cp scripts/postuninstall.sh debian/postrm
	chmod +x debian/preinst debian/postinst debian/prerm debian/postrm
	# Binaries are pre-built and downloaded from releases
	@echo "Skipping build (using pre-built binaries)"

override_dh_auto_install:
	# Install CLI binaries
	install -D -m 0755 build/binaries/gnosis_vpn debian/gnosisvpn/usr/bin/gnosis_vpn
	install -D -m 0755 build/binaries/gnosis_vpn-ctl debian/gnosisvpn/usr/bin/gnosis_vpn-ctl
	
	# Copy all app files from extracted rootfs (includes binary, desktop files, icons, etc.)
	cp -a build/app-contents/rootfs/. debian/gnosisvpn/
	
	# Install configuration
	install -D -m 0644 resources/gnosis_vpn.env debian/gnosisvpn/etc/gnosis_vpn/gnosis_vpn.env
	install -D -m 0644 resources/rotsee-config.toml debian/gnosisvpn/etc/gnosis_vpn/config.toml
	
	# Install systemd service
	install -D -m 0644 hoprd.service debian/gnosisvpn/lib/systemd/system/gnosisvpn.service
	
	# Install logrotate config
	install -D -m 0644 logrotate.conf debian/gnosisvpn/etc/logrotate.d/gnosisvpn
	
	# Install manual pages from build/
	install -D -m 0644 build/man/man1/gnosis_vpn.1.gz debian/gnosisvpn/usr/share/man/man1/gnosis_vpn.1.gz
	install -D -m 0644 build/man/man1/gnosis_vpn-ctl.1.gz debian/gnosisvpn/usr/share/man/man1/gnosis_vpn-ctl.1.gz
	install -D -m 0644 build/man/man1/gnosis_vpn-app.1.gz debian/gnosisvpn/usr/share/man/man1/gnosis_vpn-app.1.gz
	
	# Install changelog from build/
	install -D -m 0644 build/changelog/changelog debian/gnosisvpn/usr/share/doc/gnosisvpn/changelog
	gzip -9n debian/gnosisvpn/usr/share/doc/gnosisvpn/changelog

override_dh_auto_clean:
	@echo "Skipping clean"

override_dh_auto_test:
	@echo "Skipping tests"
