version = 6

[destinations.USA]
address = "0xe686ade652a815e0e26803c1a795f9d65c82e06e"
meta = { location = "Omaha" }
path = { hops = 1 }

[destinations.UK]
address = "0x7b2b69c52ec97907d7a3b2d2724ba92781b7def7"
meta = { location = "London" }
path = { hops = 1 }

[destinations.India]
address = "0x7f25c474f26488b2e29343c881f0cdc0e6d02abd"
meta = { location = "Mumbai" }
path = { hops = 1 }
