name: Close release
on:
  repository_dispatch:
    types: [new_snapshot_release]
  workflow_dispatch:
    inputs:
      public_release:
        description: "Is this a public release?"
        required: true
        type: boolean
        default: false
      client_version:
        description: "Client Version"
        required: true
        type: string
        default: "latest"
      app_version:
        description: "App Version"
        required: true
        type: string
        default: "latest"
      sign:
        description: "Sign the package"
        required: true
        type: boolean
        default: true
concurrency:
  group: release
  cancel-in-progress: false
jobs:
  setup:
    runs-on: ubuntu-latest
    name: Setup versions
    outputs:
      GNOSISVPN_PACKAGE_VERSION: ${{ steps.versions.outputs.GNOSISVPN_PACKAGE_VERSION }}
      GNOSISVPN_CLI_VERSION: ${{ steps.versions.outputs.GNOSISVPN_CLI_VERSION }}
      GNOSISVPN_APP_VERSION: ${{ steps.versions.outputs.GNOSISVPN_APP_VERSION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Determine versions
        id: versions
        shell: bash
        run: |
          if [[ "${{ inputs.public_release }}" == true ]]; then
            export GNOSISVPN_PACKAGE_VERSION=$(cat LATEST)
          else
            export GNOSISVPN_PACKAGE_VERSION=$(date +%Y.%m.%d+build.%H%M%S)
          fi
          echo "GNOSISVPN_PACKAGE_VERSION=${GNOSISVPN_PACKAGE_VERSION}" | tee -a $GITHUB_OUTPUT
          
          if [[ -z "${{ inputs.client_version }}" ]] || [[ "${{ inputs.client_version }}" == "latest" ]]; then
            export GNOSISVPN_CLI_VERSION=$(gh release view --repo gnosis/gnosis_vpn-client --json tagName --jq .tagName)
            export GNOSISVPN_CLI_VERSION="${GNOSISVPN_CLI_VERSION#v}"
          else
            export GNOSISVPN_CLI_VERSION="${{ inputs.client_version }}"
          fi
          echo "GNOSISVPN_CLI_VERSION=${GNOSISVPN_CLI_VERSION}" | tee -a $GITHUB_OUTPUT
          
          if [[ -z "${{ inputs.app_version }}" ]] || [[ "${{ inputs.app_version }}" == "latest" ]]; then
            export GNOSISVPN_APP_VERSION=$(gh release view --repo gnosis/gnosis_vpn-app --json tagName --jq .tagName)
            export GNOSISVPN_APP_VERSION="${GNOSISVPN_APP_VERSION#v}"
          else
            export GNOSISVPN_APP_VERSION="${{ inputs.app_version }}"
          fi
          echo "GNOSISVPN_APP_VERSION=${GNOSISVPN_APP_VERSION}" | tee -a $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}

  linux:
    runs-on: ubuntu-latest
    name: Build Linux
    needs: [setup]
    strategy:
      matrix:
        architecture: [x86_64-linux]
        distribution: [deb]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup GCP
        uses: hoprnet/hopr-workflows/actions/setup-gcp@master
        with:
          google-credentials: ${{ secrets.GCP_SA_GITHUB_ACTIONS }}
          install-sdk: "true"
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg curl binutils
          # Install nfpm
          echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
          sudo apt-get update
          sudo apt-get install -y nfpm
      - name: Setup GPG key for signing
        if: inputs.sign
        run: |
          echo "${{ secrets.GNOSISVPN_GPG_PRIVATE_KEY }}" > /tmp/gnosis_vpn_gpg_key.asc
          chmod 600 /tmp/gnosis_vpn_gpg_key.asc
      - name: Build Linux package
        shell: bash
        working-directory: linux
        run: |
          if [[ "${{ inputs.sign }}" == "true" ]]; then
            ./build-package.sh --distribution ${{ matrix.distribution }} --architecture ${{ matrix.architecture }} --sign
          else
            ./build-package.sh --distribution ${{ matrix.distribution }} --architecture ${{ matrix.architecture }}
          fi
          mkdir -p "../binaries"
          cp ./build/packages/gnosis_vpn-${{ matrix.architecture }}.${{ matrix.distribution }}* "../binaries/"
        env:
          GH_TOKEN: ${{ github.token }}
          GNOSISVPN_PACKAGE_VERSION: ${{ needs.setup.outputs.GNOSISVPN_PACKAGE_VERSION }}
          GNOSISVPN_CLI_VERSION: ${{ needs.setup.outputs.GNOSISVPN_CLI_VERSION }}
          GNOSISVPN_APP_VERSION: ${{ needs.setup.outputs.GNOSISVPN_APP_VERSION }}
          GNOSISVPN_GPG_PRIVATE_KEY_PATH: /tmp/gnosis_vpn_gpg_key.asc
      - name: Upload Linux artifacts
        uses: actions/upload-artifact@v5
        with:
          name: gnosis_vpn-${{ matrix.architecture }}-${{ matrix.distribution }}
          path: ./binaries/gnosis_vpn-${{ matrix.architecture }}.${{ matrix.distribution }}*

  mac:
    runs-on: macos-15
    name: Build Mac installer
    needs: [setup]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup GCP
        uses: hoprnet/hopr-workflows/actions/setup-gcp@master
        with:
          google-credentials: ${{ secrets.GCP_SA_GITHUB_ACTIONS }}
          install-sdk: "true"
      - name: Create mac installer package
        shell: bash
        run: |
          cd mac
          if [[ -z "${{ inputs.sign }}" ]] || [[ "${{ inputs.sign }}" = true ]]; then
            echo "${{ secrets.GNOSISVPN_APPLE_CERTIFICATE_DEVELOPER }}" | base64 --decode > gnosisvpn-developer.p12
            echo "${{ secrets.GNOSISVPN_APPLE_CERTIFICATE_INSTALLER }}" | base64 --decode > gnosisvpn-installer.p12
            SIGNING_PARAMETERS="--sign --binary-certificate-path gnosisvpn-developer.p12 --installer-certificate-path gnosisvpn-installer.p12"
          fi
          ./build-package.sh  $SIGNING_PARAMETERS
          mkdir -p "../binaries"
          cp ./build/GnosisVPN-Installer-*-signed.pkg "../binaries/GnosisVPN-Installer.pkg"
          cp ./build/GnosisVPN-Installer-*-signed.pkg.sha256 "../binaries/GnosisVPN-Installer.pkg.sha256"
        env:
          GH_TOKEN: ${{ github.token }}
          GNOSISVPN_PACKAGE_VERSION: ${{ needs.setup.outputs.GNOSISVPN_PACKAGE_VERSION }}
          GNOSISVPN_CLI_VERSION: ${{ needs.setup.outputs.GNOSISVPN_CLI_VERSION }}
          GNOSISVPN_APP_VERSION: ${{ needs.setup.outputs.GNOSISVPN_APP_VERSION }}
          GNOSISVPN_APPLE_CERTIFICATE_DEVELOPER_PASSWORD: ${{ secrets.GNOSISVPN_APPLE_CERTIFICATE_DEVELOPER_PASSWORD }}
          GNOSISVPN_APPLE_CERTIFICATE_INSTALLER_PASSWORD: ${{ secrets.GNOSISVPN_APPLE_CERTIFICATE_INSTALLER_PASSWORD }}
          GNOSISVPN_APPLE_ID: ${{ secrets.GNOSISVPN_APPLE_ID }}
          GNOSISVPN_APPLE_TEAM_ID: ${{ secrets.GNOSISVPN_APPLE_TEAM_ID }}
          GNOSISVPN_APPLE_PASSWORD: ${{ secrets.GNOSISVPN_APPLE_PASSWORD }}
      - name: Upload Mac artifacts
        uses: actions/upload-artifact@v5
        with:
          name: GnosisVPN-Installer-mac
          path: ./binaries/GnosisVPN-Installer.pkg*

  release:
    runs-on: ubuntu-latest
    name: Release
    needs: [setup, linux, mac]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Display versions
        run: |
          echo "- Package version: ${{ needs.setup.outputs.GNOSISVPN_PACKAGE_VERSION }}" >> "$GITHUB_STEP_SUMMARY"
          echo "- Client version: v${{ needs.setup.outputs.GNOSISVPN_CLI_VERSION }}" >> "$GITHUB_STEP_SUMMARY"
          echo "- App version: v${{ needs.setup.outputs.GNOSISVPN_APP_VERSION }}" >> "$GITHUB_STEP_SUMMARY"
      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: ./binaries
      - name: Display structure of downloaded files
        run: ls -R ./binaries
      - name: Create release
        if: inputs.public_release
        run: |
          release_version=$(cat LATEST)

          cat > release_header.txt <<EOF
          Release v${release_version} of GnosisVPN.
          - Client version: v${{ needs.setup.outputs.GNOSISVPN_CLI_VERSION }}
          - App version: v${{ needs.setup.outputs.GNOSISVPN_APP_VERSION }}

          EOF

          gh release create v${release_version} \
            --title "GnosisVPN v${release_version}" \
            --notes-file release_header.txt \
            --generate-notes

          rm release_header.txt

          echo "Preparing binaries for upload"
          
          # Upload all files from all artifact directories
          find ./binaries -type f -exec gh release upload v${release_version} {} --clobber \;
          
          echo "Release v${release_version} created and binaries uploaded"
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Bump Version
        id: bump
        if: inputs.public_release
        shell: bash
        run: |
          current_version=$(cat LATEST)
          # Extract parts without IFS or read
          IFS='.' read -r major_version minor_version patch_version <<< "${current_version}"
          patch_version=$((patch_version+1))
          bump_version="${major_version}.${minor_version}.${patch_version}"
          echo "Updating version from $current_version to $bump_version"
          echo "$bump_version" > LATEST
          echo "bump_version=$bump_version" >> $GITHUB_OUTPUT
          echo "current_version=$current_version" >> $GITHUB_OUTPUT
      - name: Commit bumped version
        uses: EndBug/add-and-commit@v9
        if: inputs.public_release
        with:
          add: '["LATEST" ]'
          new_branch: main
          message: "Bump to version ${{ steps.bump.outputs.bump_version }}"
          pathspec_error_handling: exitImmediately
      - name: Notify release
        if: inputs.public_release
        uses: zulip/github-actions-zulip/send-message@e4c8f27c732ba9bd98ac6be0583096dea82feea5 # v1.0.2
        with:
          api-key: ${{ secrets.ZULIP_API_KEY }}
          email: ${{ secrets.ZULIP_EMAIL }}
          organization-url: "https://hopr.zulipchat.com"
          type: "stream"
          to: "GnosisVPN"
          topic: "Releases"
          content: |
            I'm thrilled to inform the new `gnosis_vpn` official version `v${{ steps.bump.outputs.current_version }}` has been released.
            - Client version: v${{ needs.setup.outputs.GNOSISVPN_CLI_VERSION }}
            - App version: v${{ needs.setup.outputs.GNOSISVPN_APP_VERSION }}
            [Release Notes](${{ github.server_url }}/${{ github.repository }}/releases/tag/v${{ steps.bump.outputs.current_version }})
      - name: Notify snapshot
        if: github.event_name == 'repository_dispatch'
        uses: zulip/github-actions-zulip/send-message@e4c8f27c732ba9bd98ac6be0583096dea82feea5 # v1.0.2
        with:
          api-key: ${{ secrets.ZULIP_API_KEY }}
          email: ${{ secrets.ZULIP_EMAIL }}
          organization-url: "https://hopr.zulipchat.com"
          type: "stream"
          to: "GnosisVPN"
          topic: "Releases"
          content: |
            I'm thrilled to inform a new `gnosis_vpn` snapshot version `${{ needs.setup.outputs.GNOSISVPN_PACKAGE_VERSION }}` has been released.
            - Client version: v${{ needs.setup.outputs.GNOSISVPN_CLI_VERSION }}
            - App version: v${{ needs.setup.outputs.GNOSISVPN_APP_VERSION }}
            You can download the installer package from the [Github Workflow](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

